<!DOCTYPE html>


<ul>
    <li>@Html.ActionLink("Anglais", "Change", "language", new { Abv = "eng" }, null)</li>
    <li>@Html.ActionLink("Anglais", "Change", "language", new { Abv = "fr" }, null)</li>
    <li>@DateTime.Now.ToString()</li>
</ul>

<li>@Html.ActionLink(ASP_Projet.Ressources.texts.language, "Index","language")</li>