.createFrom {
    width: 40%;
    margin: 35px auto;
    padding: 30px;
    box-shadow: 2px 2px 20px 0px rgb(229 229 229 );
    -webkit-box-shadow: 2px 2px 20px 0px rgb(229 229 229);
    -moz-box-shadow: 2px 2px 20px 0px rgb(229 229 229 );
    border-radius: 20px;
}

    .createFrom input, label {
        text-align: left;
    }

    .createFrom .error {
        margin-top: -10px;
        margin-bottom: 10px;
        color: darkred;
    }

    .createFrom .buttonAjouter {
        background: rgba(199,0,57,1);
        color: white;
        font-weight: bold;
        border-radius: 20px;
        padding: 7px 20px;
    }
